@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
}
/*HEADER E NAV */
header{
    background-color: #1a2a6c;
    color: white;
    padding: 20px 5%;
    display: flex; /*Alinha logo e Menu*/
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.logo span{
    color: #5dade2;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    
}
nav a:hover{
    color: #5dade2;
}
/*SEÇÃO HERO*/
.hero{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.hero-content{
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgb(0, 0, 0,0.1);
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 800px;
}
.hero-content img{
    border-radius: 15px;
}
.btn-enroll{
    display: inline-block;
    background-color: #6c5ce7;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 20px;
    
}

.btn-enroll:hover{
    transform: scale(1.05);
}
/*Tabela*/
.plans{
    padding: 50px 5%;
    max-width: 800px;
    margin: auto;
}
table{
  width: 100%;
  border-collapse: collapse; /*Uni as bordas das células*/
  margin-top: 20px;
  background: white;
}
th,td{
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}
th{
    background-color: #5dade2;
    color: white;
}
tr:nth-child(even){
    background-color: #f9f9f9;/*Efeito zebrado*/
}
footer{
    text-align: center;
    padding: 20px;
    font-size: 0.8rem;
    color: #777;
}